# Credenciais do PostgreSQL
POSTGRES_USER=${POSTGRES_USER:-sqlutions}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-senha_padrao}
POSTGRES_DB=${POSTGRES_DB:-api}

# Configurações de Conexão do Banco
DB_HOST=${DB_HOST:-custom-postgres}
DB_PORT=${DB_PORT:-5432}

# URL de Comunicação do Frontend
NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL:-http://localhost:8000}

# Defina como 'true' para otimizar o PostgreSQL para importação em massa de dados (caso o init.sql seja muito grande)
POSTGRES_IMPORT_MODE=${POSTGRES_IMPORT_MODE:-false}