asgiref==3.11.1
coverage==7.13.5
Django==5.2.12
django-cors-headers==4.9.0
gunicorn==25.1.0
numpy==2.4.3
packaging==26.0
pandas==3.0.1
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
pytest
pytest-django
pytest-cov
six==1.17.0
sqlparse==0.5.5
